@using ZuydNatuurBrandDetectie.Models
@model NodeVm

@{
    ViewBag.Title = "Details";

    //Redirect gebruiker terug naar hoofdmenu indien niet ingelogd
    if (Session["Function"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    //Tel alle temperatuur metingen op en bereken het gemiddelde
    List<int> temps = new List<int>();


    foreach (var meting in Model.metingen)
    {
        temps.Add(meting.temperatuurSensor);
    }

    double gemTemp = (temps.Count() > 0) ? temps.Average() : 0;

    //Tel alle meldingen op
    int aantalMeldingen = 0;
    foreach (var melding in Model.meldingen)
    {
        aantalMeldingen++;
    }
}


<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Overzicht.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>OverzichtNode</title>
</head>

<body>

    <div class="pageTitle">
        <h1>Overzicht / Node ID: @Model.node.id</h1>
    </div>

    <div class="boxContainer">
        <div class="upper-boxes" id="nodesBox">
            <div class="nodesActief">
                <div class="eclipse">
                    <img src="~/Models/overzichtImages/ lightning.png" class="eclipseIcon" />
                </div>
                <div class="upper-Title">
                    <h1>@Model.node.batterijVervangen.ToShortDateString()</h1>
                </div>

                <div class="lower-Title">
                    <a>Accu vervang datum</a>
                </div>
            </div>
        </div>

        <div class="upper-boxes" id="tempBox">
            <div class="gemTemperatuur">
                <div class="eclipse">
                    <img src="~/Images/overzichtImages/ pulse.png" class="eclipseIcon" />
                </div>

                <div class="upper-Title">
                    <h1>@gemTemp</h1>
                </div>

                <div class="lower-Title">
                    <a>Gemiddelde Temperatuur</a>
                </div>

            </div>
        </div>

        <div class="upper-boxes" id="meldingenBox">
            <div class="aantalMeldingen">
                <div class="eclipse">
                    <img src="~/Images/overzichtImages/ alert-triangle.png" class="eclipseIcon" />
                </div>

                <div class="upper-Title">
                    <h1>@aantalMeldingen</h1>
                </div>

                <div class="lower-Title">
                    <a>Aantal Meldingen</a>
                </div>

            </div>
        </div>

    </div>

    <ul class="box-wrapper">
        <li class="box boxa">
            <img src="~/Models/overzichtImages/Chart.PNG" width="900" height="480"  id="chartImage"/>
        </li>

        <li class="box boxb">
            <div class="box-title">
                <a>Locatie</a>
            </div>
            <hr />
            <div class="box-data">
                <a>Locatie - @Model.node.locatie</a>
                <br />
                <a>Natuurgebied - @Model.node.natuurgebied</a>
            </div>
        </li>

        <li class="box boxc">
            <div class="box-title">
                <a>Meldingen</a>
            </div>
            <hr />

            <div class="box-data boxMeldingen">
                @foreach (var item in Model.meldingen)
                {
                    <a>ID - @item.id - Datum - @item.datum.ToShortDateString() - Type - @item.type</a>
                    <br />
                    <hr />
                }
            </div>


        </li>
    </ul>


</body>
</html>

